<div style="padding:2%" class="painting" id= "painting_<%= @painting.id %>">
<% if @product.paintings.count == 1 %>
  	<%= image_tag(painting.image_url(:timeline)) %>
	<div class="actions_remove">
	   <!-- <%= link_to "edit", edit_painting_path(painting) %> |
	    <%= link_to "remove", painting, method: :delete, remote: true %> -->
  	</div>
</div>
<% else %>
  	<%= image_tag(painting.image_url(:thumb)) %>
	
	<div class="actions_remove">
	</div>
<% end %>

</div>
