<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.username %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Picture:</b>
  <%= @user.picture %>
</p>

<p>
  <b>Location:</b>
  <%= @user.location %>
</p>

<p>
  <b>Website:</b>
  <%= @user.website %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
