<%= form_for (@product), :validate => true do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div sytle="padding-top: 2%" id="product_form" class="span3">
  <div class="field">
    <%= f.text_field :title, placeholder: " *titulo" %>
  </div>
  <div class="field">
    <%= f.text_field :brand, placeholder: " *marca" %>
  </div>
  <div class="field">
	<%= f.label :price, "*precio" %>
    <%= f.text_field :price, placeholder: " 0.00", :class => "span2", :style => "float:left" %><p>   MXN </p>
  </div>
  <div class="field">
    <%= f.text_area :description, rows: "4", placeholder: "*describe tu producto" %>
  </div>
  <div class="field">
    <%= f.text_field :color, placeholder: "*color" %>
  </div>
  <div class="field">
    <%= f.text_field :material, placeholder: "*material" %>
  </div>
 
  <div class="field" style="height: 127px">
	<p style="float:left">
		<%= f.label :refund_policy, "*políticas de devolución" %>
	</p>
	<i style="margin-left: 5%" id="policy_info" class="icon-info-sign icon-black"></i>
	<div class="popover fade top in" id="pop_policy" style="display:none; position: relative; top: -165px; left:50px">
		<div class="arrow">
		</div>
		<div class="popover-inner">
			<div class="popover-content">
				<p>Ejemplo: "No aplica.", "Solo si el producto esta dañado.", "Solo si después de 30 días no ha sido entregado"</p>
			</div>
		</div>
	</div>
  </div>
	<p style="margin-top:-90px">	
	<%= f.text_area :refund_policy, rows: "3" %>
	</p>
 <div class="field">
    <%= f.label :size_tokens, "*información de tallas/medidas" %>
    <%= f.text_field :size_tokens, data: {load: @product.sizes}%>
  </div>
  <div class="field">
	<%= f.label :quantity, "Cantidad" %>
    <%= f.number_field :quantity, :in => 1..5 %>
  </div>
   
  <div class="field" style="height:20px">
		<p style="float:left">
			<%= f.label :tag_list, "*agrega tus tags" %>
		</p>		
			<i style="margin-left: 5%" id="tag_info" class="icon-info-sign icon-black"></i>
			<div class="popover fade top in" id="pop_tag" style="display:none; position: relative; top:-120px;;">
				<div class="arrow">
				</div>
				<div class="popover-inner">
					<div class="popover-content">
						<p>¿Qué palabras describen a tu producto?(separalas por comas)</p>
					</div>
				</div>
			</div>
	  </div>
	
		<p>
		    <%= f.text_field :tag_list, placeholder: "*agrega tus tags", data: {load: @product.sizes} %>
		<div class="token-input-dropdown-facebook" style="display: none; position: absolute; top: 306px; left: 340px; width: 400px; z-index: 999;"></div>
		</p>
		<div class="actions">
			<%= f.submit "Create Product", class: "btn btn-large btn-primary" %>
		</div>
  
</div>

<% end %>
<div style="margin-top: -20px" class="span6" id="mainImage">
	<div class="defaultMainImage">
		
	</div>
				
</div>
<div class="span3">
	<div class="field" id="file_image">
		<%= form_for(Painting.new, :remote => true) do |f| %>
		  <%= f.label :image, "*agrega tus fotos(máximo 4 fotos):", :class => "label_fotos" %>
		  <%= f.hidden_field :product_id, :value => @product.id %>
		  <%= f.file_field :image, multiple: true, name: "painting[image]"%>
		<% end %>
	</div>
	<ul id="productImagesSortable">
		<li id="image_small">
		</li>
	</ul>
</div>

<div class="token-input-dropdown-facebook" style="display: none; position: absolute; left: 170px; top: 306px; width: 400px; z-index: 999;"></div>

<script id="template-upload" type="text/x-tmpl">
<div id="name" style="display:none">

	<div class="upload">
		<div class="span2">
			{%=o.name%}
	  		<div class="progress"><div class="bar" style="width: 0%"></div></div>
		</div
	</div>
</div>

</script>

<script type="text/javascript">
$("#product_form").keypress(function (evt) {
//Deterime where our character code is coming from within the event
	var charCode = evt.charCode || evt.keyCode;
	if (charCode  == 13) { //Enter key's keycode
	return false;
	}
});
</script>


