<%= form_for (@product), :validate => true do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div sytle="padding-top: 2%" id="product_form" class="span3">
  <div class="field">
	<%= f.label :title, "*nombre del producto" %>
	<%= f.text_field :title, placeholder: "" %>
  </div>
  <div class="field">
	<%= f.label :brand, "*marca" %>
    <%= f.text_field :brand, placeholder: "" %>
  </div>
  <div class="field">
	<%= f.label :price, "*precio" %>
    <%= f.text_field :price, placeholder: " 0.00", :class => "span2", :style => "float:left" %><p>   MXN </p>
  </div>
  <br/>
  <div class="field">
	<%= f.label :description, "*describe tu producto" %>
    <%= f.text_area :description, rows: "4", placeholder: "" %>
  </div>
  <div class="field">
	<%= f.label :color, "*color" %>
    <%= f.text_field :color, placeholder: "" %>
  </div>
  <div class="field">
	<%= f.label :material, "*material" %>
    <%= f.text_field :material, placeholder: "" %>
  </div>
 
  <div class="field" style="height: 127px">
	<p style="float:left">
		<%= f.label :refund_policy, "*establece tus políticas de devolución" %>
	</p>
	<i style="margin-left: 5%; margin-top: -10%" id="policy_info" class="icon-info-sign icon-black"></i>
	<div class="popover fade top in" id="pop_policy" style="display:none; position: relative; top: -165px; left:-103px">
		<div class="arrow">
		</div>
		<div class="popover-inner">
			<div class="popover-content">
				<p>Ejemplo: "No aplica.", "Solo si el producto esta dañado.", "Solo si después de 30 días no ha sido entregado"</p>
			</div>
		</div>
	</div>
  </div>
	<p style="margin-top:-90px">	
	<%= f.text_area :refund_policy, rows: "3" %>
	</p>
 <div class="field">
    <%= f.label :size_tokens, "*información de tallas/medidas" %>
    <%= f.text_field :size_tokens, data: {load: @product.sizes}%>
  </div>
  <br/>
  <div class="field">
	<%= f.label :quantity, "*cantidad" %>
    <%= f.number_field :quantity, :placeholder => "", :in => 1..5 %>
  </div>
   
  <div class="field" style="height:20px">
		<p style="float:left">
			<%= f.label :tag_list, "*agrega tus tags" %>
		</p>		
			<i style="margin-left: 5%" id="tag_info" class="icon-info-sign icon-black"></i>
			<div class="popover fade top in" id="pop_tag" style="display:none; position: relative; top:-120px; left: -15px;">
				<div class="arrow">
				</div>
				<div class="popover-inner">
					<div class="popover-content">
						<p>¿Qué palabras describen a tu producto?(separalas por comas)</p>
					</div>
				</div>
			</div>
	  </div>
	
		<p>
		    <%= f.text_field :tag_list, placeholder: "*agrega tus tags", "data-pre" => @product.tags.map(&:attributes).to_json %>
		</p>
		
		<div>
			<%= link_to "opciones de envío", envio_path(:product_id => @product.id), {:id => "modal", :rel => "tab", :remote => true, 'data-controls-modal' =>  "modal-window", 'data-backdrop' => true, 'data-keyboard' => true, :class => 'btn'} %>
		</div>
		<br/>
		<div style="display:none" id="campo_enviodf">
			<p>
				<div style="float:left">Envío en DF $</div>
			    
			</p>
		</div>
		<div style="display:none" id="campo_envioint">
			<p>
				<div style="float:left">Envío interior del país $</div>
			</p>
		</div>
		<div style="display:none" id="campo_cp">
			<p>
				<div style="float:left">Recoger en CP: </div>
			</p>
		</div>
		<div style="display:none;" id="campo_estafeta">
			<div>Envío por Estafeta</div>
			<div id="estafeta_tipo" class="forma_estafeta"></div>
			<div id="estafeta_peso" class="forma_estafeta"></div>
			<div id="estafeta_alto" class="forma_estafeta"></div>
			<div id="estafeta_largo" class="forma_estafeta"></div>
			<div id="estafeta_ancho" class="forma_estafeta"></div>
			
			<%= f.text_field :envio_df, :class => "span2", :style => "display:none" %>
			<%= f.text_field :envio_int, :class => "span2", :style => "display:none" %>
			<%= f.text_field :cp, :class => "span2", :style => "display:none" %>
			<%= f.text_field :tipo_envio, :class => "span2", :style => "display:none" %>
			<%= f.text_field :peso, :class => "span2", :style => "display:none" %>
			<%= f.text_field :alto, :class => "span2", :style => "display:none" %>
			<%= f.text_field :largo, :class => "span2", :style => "display:none" %>
			<%= f.text_field :ancho, :class => "span2", :style => "display:none" %>
			
		</div>
		<hr>
		<div class="actions">
			<%= f.submit "Crear Producto", class: "button-want" %>
		</div>
  
</div>

<% end %>
<div style="margin-top: -20px" class="span6" id="mainImage">
	<div class="defaultMainImage">
	</div>
	<div id="ajax-status" style="float:left; display:none; margin-left:50%; margin-top:-100%; z-index: 3000"><%= image_tag("ajax-loader.gif") %></div>
				
</div>
<div class="span3">
	<div class="field" id="file_image">
		<%= form_for(Painting.new, :remote => true) do |f| %>
		  <%= f.label :image, "*agrega tus fotos(máximo 4 fotos):", :class => "label_fotos" %>
		  <%= f.label :image, "La primera imagen, es la principal del producto", :class => "label_fotos" %>
		  <%= f.hidden_field :product_id, :value => @product.id %>
		  <%= f.file_field :image, multiple: true, name: "painting[image]"%>
		<% end %>
	</div>
	<ul id="productImagesSortable">
		<li id="image_small">
		</li>
	</ul>
</div>

<div class="token-input-dropdown-facebook" style="display: none; position: absolute; left: 170px; top: 306px; width: 400px; z-index: 999;"></div>

<script id="template-upload" type="text/x-tmpl">
<div id="name" style="display:none">

	<div class="upload">
		<div class="span2">
			{%=o.name%}
	  		<div class="progress"><div class="bar" style="width: 0%"></div></div>
		</div
	</div>
</div>

</script>

<script type="text/javascript">
$("#product_form").keypress(function (evt) {
//Deterime where our character code is coming from within the event
	var charCode = evt.charCode || evt.keyCode;
	if (charCode  == 13) { //Enter key's keycode
	return false;
	}
});
</script>


