<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div sytle="padding-top: 2%" class="span3">
  <div class="field">
    <%= f.text_field :title, placeholder: " *titulo" %>
  </div>
  <div class="field">
    <%= f.text_area :description, rows: "4", placeholder: "*describe tu producto" %>
  </div>
  <div class="field">
    <%= f.text_field :color, placeholder: "*color" %>
  </div>
  <div class="field">
    <%= f.text_field :material, placeholder: "*material" %>
  </div>
 
  <div class="field">
    <%= f.text_area :refund_policy, rows: "3", placeholder: "*política de devoluciones" %>
  </div>
  <div class="field">
    <%= f.text_field :size, placeholder: "*talla" %>
  </div>
  <div class="field">
    <%= f.text_field :quantity, placeholder: "*cantidad" %>
  </div>
  
  <div class="field">
		<p>
		    <%= f.text_field :tag_list, placeholder: "*agrega tus tags" %>
		<p>
		<div class="actions">
			<%= f.submit "Create Product", class: "btn btn-large btn-primary" %>
			
		</div>
  </div>

  
</div>

<% end %>
<div class="span6">
			<div class="defaultMainImage" id="foto" data-id="<%= @painting.id %>">
			</div>
				
</div>
<div class="span3">
	<ul id="productImagesSortable">

   	  <li class="smallImage" id="small_foto" data-id="<%= @painting.id %>" >

      </li>

      <li class="smallImage" id="small_foto" data-id="<%= @painting.id %>">
      </li>

      <li class="smallImage" id="small_foto" data-id="<%= @painting.id %>">
      </li>
		<div class="field">
			<%= form_for(Painting.new, :remote => true) do |f| %>
			  <%= f.label :image, "*agrega fotos:" %>
			  <%= f.hidden_field :product_id, :value => find_id %>
			  <%= f.file_field :image, multiple: true, name: "painting[image]"%>
			
			<% end %>
		</div>
	</ul>
</div>


<script id="template-upload" type="text/x-tmpl">
<div class="upload">
	<div class="span2">
		{%=o.name%}
  		<div class="progress"><div class="bar" style="width: 0%"></div></div>
	</div
</div>
</script>


