<div class="row-fluid" style="background-color:white; margin-top:-7%; margin-left:-10%; width: 1150px">
	<div style="margin-left:3%; margin-right: 2%; margin-top:5%; margin-bottom: 5%; width:600px" class="span6">
	  <% unless @product.paintings.first.nil? %>
			<div class="mainpicture" style="float:left" id="painting_<%= @product.paintings.first.id %>">
			<%= image_tag(@product.paintings.first.image_url(:timeline))  %>
	  <% end %>
			</div>
				<ul id="productImagesSortable" style="float:right;">
						<% @product.paintings.each_with_index do |painting, index| %>
							<% if index >= 0%>
								<%= content_tag "div", class:"paintings", data: {id: painting.id } do %>
						 			<li id="smallImage" class="painting_<%= painting.id%>">
										<%= image_tag(painting.image_url(:thumb))%>
									</li>
								<% end %>
							<% end %>
						<% end %>
				</ul>
	
	</div>
	
<div style="margin-top:5%" class="span5">
	<div class="well" style="background-color:white">
		<div class="description-main">
		  <%= @product.title %>
		</div>
		<p class="description-low">by  </p>
		<div class="description-strong"> 
		  <%= link_to @product.brand, user_path(@product.user_id) %>
		</div> 
		<hr>
		<div class="description-main">
			<div class="product_reputation">
			<% if signed_in? %>
				<span id="want_product_<%= @product.id %>">
					<i class="icon-star-empty icon-white"></i><%= pluralize @product.reputation_value_for(:votes).to_i, "Want" %>
				</span>
				<br/>
				<br/>
				<% if @product.user_id == find_evaluation_id(current_user.evaluations)%>
				<% elsif current_user && !current_user.voted_for?(@product) %>
					<span id="want_show_<%= @product.id %>">
				 		<%= link_to '<i class="icon-star-empty icon-white"></i> Want'.html_safe, vote_product_path(@product, type: "up"), :remote => true,  method: "post", :class => "button-want", id: "link" %>
					</span>
				<% end %>
			<% end %>
			</div>
			
			<%= number_to_currency(@product.price) %>
			<div style="margin-left:25%; margin-top:-5%">
				<%= link_to "Comprar", comprar_path(:product_id => @product.id), {:id => "modal", :rel => "tab", :remote => true, 'data-controls-modal' =>  "modal-window", 'data-backdrop' => true, 'data-keyboard' => true, :class => 'btn btn-success'} %>
			</div>
			<br/>
			<div class="description-low"> Cantidad disponible</div><br/>
			<div class="description-medium"> <%= @product.quantity %> </div>
			<br/>
			<div class="description-low"> Medidas</div><br/>
			<div class="description-medium"> <%= find_sizes(@product.sizes) %> </div><br/s>
			<div class="description-low"> Tags: </div><br/>
			<div class="description-tags"><%= raw @product.tag_list.map { |t| link_to t, tag_path(t) }.join(' - ') %></div>
			
				
		</div>
		<br/>
		<hr>
		<div class="description-low"> Descripción del producto</div><br/>
		<div class="description-medium"> <%= @product.description %> </div>
		<hr>
		<div class="description-low"> Colores</div><br/>
		<div class="description-medium"> <%= @product.color %> </div>
		<hr>
		<div class="description-low"> Material</div><br/>
		<div class="description-medium"> <%= @product.material %> </div>
		<hr>
		<div class="description-low"> Política de devoluciones</div><br/>
		<div class="description-medium"> <%= @product.refund_policy %> </div>
	<!--	<p>
		  <b>User:</b>
		  <%= @product.user_id %>
		</p> -->

	
	</div>
	
</div>

</div>
